



.goodbye_img {
  position: relative;
  max-width: max-content; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.goodbye_img .content {
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */

  max-width: auto;

  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding-top:160px;
  padding-bottom: 170px;
  padding-inline: 400px; /* Some padding */
}
