.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    width: 600px;
    justify-content: flex-end; /* center horizontally */
    align-items: center; /* center vertically */
  }
  