{% extends "base.html" %}

{% block title %}Search By Brewery{% endblock %}

{% block body %} 

<div class="container">
    <div class="row">
      <div class="column">
        <h2> Taco Hop Search Results</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h2> These are Recommended breweries:</h2>
        <ul>
          <li> Recommendation #1 </li>
          <li> Recommendation #2 </li>
          <li> Recommendation #3 </li>
        </ul>
      </div>
      <div class="col-6">
        <h2> Click on Brewery for nearby TacoShops:</h2>
          <ul>
            <li> Recommendation #1 </li>
            <li> Recommendation #2 </li>
            <li> Recommendation #3 </li>
          </ul>
      </div>
    </div>
</div>



<!-- <div class="container">
    <div class="row">
      <div class="column">
        <img src="/static/img/San Diego Map.png" alt="San Diego Map image">
      </div>
    </div>
  </div> -->

{% endblock %}

{% for brewery in breweries %}

<div class="row">
  <div class="col-6">
    <ul class="brewery-results"></ul>
    <li><a href="{{brewery['url']}}" target="_blank">
      {{brewery['name']}} </a></li>
  </div>
</div>  

<div class="row">
  <div class="col-5">
    <img src="{{brewery['image_url']}}" width="200">
  </div>
</div>

<button id="fav_brewery_btn" data-brewery_id="{{brewery['id']}}" data-name="{{brewery['name']}}" data-address="{{brewery['address']}}">Favorite</button>

  <div class="row">
    <div class="column">    
      <p>See What Taco Shops are nearby:</p> 
        <p>
          <a href="/taco?lat={{brewery['coordinates']['latitude']}}&long={{brewery['coordinates']['longitude']}}&name={{brewery['name']}}" target="_blank" method="post" >
          {{brewery['address']}}
          </a> 
        </p>
    </div>
  </div>


{% endfor %}

