{% extends "base.html" %}

{% block title %}Search By Brewery{% endblock %}

{% block body %} 

<div class="container">
    <div class="row">
      <div class="column">
        <h2> Taco Hop Search Results</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h2> These are Recommended breweries:</h2>
        <ul>
          <li> Recommendation #1 </li>
          <li> Recommendation #2 </li>
          <li> Recommendation #3 </li>
        </ul>
      </div>
      <div class="col-6">
        <h2> Click on Brewery for nearby TacoShops:</h2>
          <ul>
            <li> Recommendation #1 </li>
            <li> Recommendation #2 </li>
            <li> Recommendation #3 </li>
          </ul>
      </div>
    </div>
</div>



<!-- <div class="container">
    <div class="row">
      <div class="column">
        <img src="/static/img/San Diego Map.png" alt="San Diego Map image">
      </div>
    </div>
  </div> -->

{% endblock %}

