{% extends "base.html" %}

{% block title %}Search By Brewery{% endblock %}

{% block body %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{message}}
      {% endfor %}
    {% endif %}
  {% endwith %}

<div class="container">
  <div class="row">
    <div class ="column">
      <h2> Plan your Taco Hop</h2>

      <form method="GET" action="/brewery_trip_planner/search">
        <div class ="row">
          <div class="col-6">
            <label class="form-label above" for="search-term">Search Keyword</label>
              <small class="form-text text-muted">Example: Brewery</small>
                <input
                  id="search-term"
                  class="form-control"
                  type="text"
                  name="term"
                  >      
          </div>
          <div class="col-6">
            <label class="form-label above" for="search-location">Location</label>
              <small class="form-text text-muted"> Search by neighborhood/state (North Park, Ca), zip code (92109) or city (San Diego).</small>
                <input
                  id="search-location"
                  class="form-control"
                  type ="text"
                  name="location"
                  >
          </div>
        </div>

        <div class="row">
          <label class="form-label above" for="search-radius">Distance Radius</label>
           <div class="col-8">
            <input
            id="search-radius"
            class="form-control"
            type="number"
            name="radius"
            >
           </div>

        <div class="row mt-4">
          <div class="col-3">
            <input type="submit" value="Brewery Search" class="btn btn-primary">
          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="column">
      <iframe 
        width="600" 
        height="450" 
        style="border:0" 
        loading="lazy" 
        allowfullscreen src="https://www.google.com/maps/embed/v1/search?q=brewery&key=AIzaSyA49IdQHfRJYarkQK570BdIb3n3K5KuxRU">
      </iframe>
    </div>
  </div>
</div>


<!-- <iframe 
width="600" 
height="450" 
style="border:0" 
loading="lazy" 
allowfullscreen src="https://www.google.com/maps/embed/v1/search?q=brewery&key=AIzaSyA49IdQHfRJYarkQK570BdIb3n3K5KuxRU">
</iframe> -->

<!-- <div class="container">
  <div class="row">
    <div class="column">
      <img src="/static/img/San Diego Map.png" alt="San Diego Map image">
    </div>
  </div>
</div> -->


{% endblock %}