{% extends "base.html" %}

{% block title %}Goodbye{% endblock %}
    
{% block body %}
<div class="container-fluid">
  <div class="goodbye_bg_img">
    <div class="transparent_box">
    <div class="goodbye_text">
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #697d89;">
        <a class="navbar-brand" style="margin-left: 100px;" href="#">TacoHops</a>
      </nav>

      <div class="row text-center" style="margin-top:100px; margin-bottom: 220px;">
        <h3> Goodbye!</h3>
        <h4> If you got here by accident,</h4>
        <p class="text-center fs-3 fw-semibold">
          use the <a href="/">LINK</a> to return to main page.<br>
          If you aren't 21 yet, happy taco finding! <br>
          Come back for taco and beer hops when you are 21!</p>
      </div>


      



   <div>
    <p class="text-end m-1"><small>Photo by Jeswin Thomas on Unsplash</small></p>
  </div> 
</div>
</div>
</div>
</div>

{% endblock %}