{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class = "column">
      <h1>Welcome to Taco Hops!</h1>
    </div>
  </div>

  <div class="row">
    <div class = "column">
      <h5>Create a new user account or log-in to your existing account below. </h5>
    </div>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{message}}
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="row">
    <div class = "column">
      <h2>Create an Account</h2>
        <form action="/create_new_user" method="POST">
          <p>
            Email <input type="text" name="email">
          </p>

          <p>
            Password <input type="password" name="password">
          </p>

          <p>
            <input type="submit">
          </p>
        </form>
    </div>
  </div>

  <div class="row">
    <div class = "column">
      <h2>Log In</h2>
        <form action="/login" method="POST">
          <p>
            Email <input type="text" name="email">
          </p>
        
          <p>
            Password <input type="password" name="password">
          </p>
        
          <p>
            <input type="submit">
          </p>
        </form>
    </div>
  </div>

  <div class="row">
    <div class = "column">
      <h2>Don't want to log in?</h2>
        <ul>
          <li> You can search by brewery without creating an account:</li>
          <li><a href="/brewery_trip_planner">Search by Brewery</a></li>
        </ul>
    </div>
  </div>


</div>
{% endblock %}














