{% extends "base.html" %}

{% block title %}Verify Age{% endblock %}

{% block body %}
  <div class="container">
    
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #697d89;">
      <div class="container-fluid"> 
        <a class="navbar-brand" href="#">Taco Hops </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
      </div>
    </nav>

    <div class="index_img">
      <img src="/static/img/pexels-dương-nhân-2_1.jpg" class="img-fluid" alt="image of four tacos" >
      
      <div class="content">
        <p class="text-center fs-3 fw-semibold">Get Ready for Taco Hops!!<br></p>
        <div class="row">
            <h2> But First...An AGE-old Question!</h2>
        </div>
  
        <div class="row">
          <div class="col-7">
            <h3> Are you 21 years old?</h3>
          </div>
        
          <div class="col-5">
            <label for="DOB">Enter your birthdate:</label>
              <form name="DOB_input" action="/" method="post">
                <input type="date" name="birthDate" >
                <button type ="submit">I'm of age!</button>
              </form>
          </div>

          <div class="row text-end">
              <div style="color: #f1f1f1;">
               <div class="alert">
                 <strong>
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for message in messages %}
                        {{message}}
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                 </strong>
              </div>
            </div>
          </div>
        </div>

            
      </div>
      
    </div>
  <div>
    <p class="text-end">Photo by Dương Nhân on Unsplash</p>
  </div> 
{% endblock %}



