{% extends "base.html" %}

{% block title %}Verify Age{% endblock %}

{% block body %}

  <div class="row">

    <div class="col-xs-12 col-md-8">
      <h1>Get Ready to Taco Hop!!</h1>

      <h2> But First...An AGE-old Question!</h2>

      <h3> Are you of legal drinking age?</h3>
    </div>

    <div class="col-xs-12 col-md-4">
        <label for="DOB">Enter your birthdate:</label>
          <form action="/" method="post">
              <input type="date" name="birthDate" >
              
              <button type ="submit">I'm of age!</button>
          </form>
    </div>

  </div>
  
{% endblock %}