{% extends "base.html" %}

{% block title %}Nearby TacoShop Results{% endblock %}

{% block body %} 

<div class="container">
    <div class="row">
      <div class="column">
        <h2> Taco Shops close to LIST BREWERY NAME HERE:</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h2> Taco Shops nearby:</h2>
        <ul class="tacoshop-search">
        {% for tacoshop in tacoshops%}
        <li><a href="{{tacoshop['url']}}" target="_blank">
            {{tacoshop['name']}} </a></li>
          <address>{{tacoshop['location']['display_address']}}</address>
          <img src="{{tacoshop['image_url']}}" width="200">
          {% endfor %}
        </ul>
</div>

  {% endblock %}