{% extends "base.html" %}

{% block title %}Nearby TacoShop Results{% endblock %}


{% block head %}
<meta charset="utf-8">

<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

<link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

<style>
      div.sticky { 
        position: -webkit-sticky;
        position: sticky; 
        top: 0; 
        padding: 5px solid;
        border: 2px solid;
        width:600px;
        height: 500px;
       }
</style>
{% endblock %}

{% block body %} 
<div class ="container"> 

  <div class="container">
    <h1>Taco Hop</h1>
  </div>

  <h2> Taco Shops near {{brewery_name}}:</h2>

  <div class = "row">
    <div class="col-sm-6">

        {% for tacoshop in tacoshops %}
          <div class="taco_coordinates" data-taco_name="{{tacoshop['name']}}" data-taco_lat="{{tacoshop['coordinates']['latitude']}}" data-taco_long="{{tacoshop['coordinates']['longitude']}}">
            <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="{{tacoshop['image_url']}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{tacoshop['name']}}</h5>
                  <p class="card-text"><a href="{{tacoshop['url']}}" target="_blank">Visit Yelp to Learn More</a></p><p>{{tacoshop['address']}}</p>
                  {% if session.get('user_email') %}
                    <button class="btn btn-primary" id="fav_tacoshop_btn" data-tacoshop_id="{{tacoshop['id']}}" data-tacoshop_name="{{tacoshop['name']}}" data-tacoshop_address="{{tacoshop['address']}}" data-nearby_brewery="{{brewery_name}}">Favorite</button></p>
                  {% endif %}
                </div>
            </div>
          </div>
        {% endfor %}
    </div>

    <div class="col-sm-6">
      <div class="sticky"> 
        <style> #map { position:sticky;  width: 100%; height: 100%; } </style>

        <div id="map"></div>

        <div id="taco_map_center" data-long="{{taco_map_center[0]}}" data-lat="{{taco_map_center[1]}}" data-nearby_brewery_name="{{brewery_name}}"></div>
      </div>
    </div>
  </div>
</div>  
{% endblock %}

{% block js %}

<script type="text/javascript" src="/static/js/TacoShopMaps.js"></script>

{% endblock %}
