{% extends "base.html" %}
{% include 'navBar.html' %}

{% block title %}User Profile{% endblock %}

{% block head %}


<link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

<style>
    div.sticky { 
      position: -webkit-sticky;
      position: sticky; 
      top: 0; 
      padding: 5px solid;
      border: 2px solid;
      margin-bottom: 20px;
      width:600px;
      height: 500px;
     }
</style>
{% endblock %}

{% block body %}
<div class ="container"> 

  <div class="row">
    <div class="col-6">
      <h1>Your Taco Hops Profile</h1>
    </div>
    

    <div class="col-6">
      <h2><u>Profile Information</u></h2>
        <ul class="user_details">
          <li> <strong> User email: </strong> {{user_email}} </li>
        </ul>
    </div>
  </div>

  <div class="row">
    <h3> <u>Liked Breweries:</u></h3>
  </div>

  <div class ="row">
    <div class="col-6">
      <div class="sticky"> 
        <style> #map { position:sticky;  width: 100%; height: 100%; } </style>
          <div id="map"></div>
          <div id="map_center" data-long="-117.1611" data-lat="32.7157"></div>
      </div>
    </div>

    {% for fav_brewery in fav_breweries %}
      <div class="col-3">
        <div class="fav_brewery_info" data-fav_name="{{fav_brewery['brewery_name']}}" data-fav_brewery_long="{{fav_brewery['brewery_long']}}" data-fav_brewery_lat="{{fav_brewery['brewery_lat']}}">
          <div class="card-group" > 
            <div class="card h-100 border-warning mb-3" style="max-width: 15rem; border-width:3" id="favorite_breweries">
              <img class="card-img-top" src="{{fav_brewery['brewery_image_url']}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{fav_brewery['brewery_name']}}</h5>
                    <p class="card-text"><a href="{{fav_brewery['brewery_url']}}" target="_blank">Visit Yelp to Learn More</a></p>
                      <p id="fav_brewery_address">{{fav_brewery['brewery_address']}}</p>
                      <h6>Favorited Taco Shop(s):</h6>                
                        {% for fav_tacoshop in fav_tacoshops %}
                          {% if fav_tacoshop['nearby_brewery'] == fav_brewery['brewery_name'] %}
                            <ul><li><strong>{{fav_tacoshop['tacoshop_name']}}</strong></li>
                              <p id="fav_tacoshop_address">{{fav_tacoshop['tacoshop_address']}}</p>
                            </ul>
                          {% endif %}
                        {% endfor %}
                    <p> <a href="/taco?lat={{fav_brewery['brewery_lat']}}&long={{fav_brewery['brewery_long']}}&name={{fav_brewery['brewery_name']}}" target="_blank" method="post" class="btn btn-primary btn-sm">More nearby taco shops!</a>
                </div>
            </div>
          </div>
        </div> 
      </div>  
    {% endfor %}

  </div>

</div>
{% endblock %}

{% block js %}

<script type="text/javascript" src="/static/js/User_details.js"></script>

{% endblock %}